
<div>
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h4 class="job-name job-detail-header" style="font-family: 'Ubuntu', sans-serif;">{{job.po_name}}</h4>
        <div class="edit-job-details pt-4">
            <input type="checkbox" id="editJobDetailsCheckbox" name="editJobDetails">
            <label for="editJobDetailsCheckbox" style="font-size: 17px;">Edit Job Details</label>
        </div>
    </div>
    <div id="editJobDetailsForm" style="display:none; align-items: center;">
    <div class="card edit-job-form pt-3">
        <form id="updateJobForm" method="POST">
            <input type="hidden" name="job_id" value="{{ job.job_id }}">
            <div class="d-flex">
                <label for="id_client" class="w-100">Client:</label>
                {{ form.client }}
                {% if form.client.errors %}
                    <div class="error">{{ form.client.errors }}</div>
                {% endif %}
            </div>
            <div class="d-flex">
                <label for="id_po_name" class="w-100">PO Name:</label>
                {{ form.po_name }}
                {% if form.po_name.errors %}
                    <div class="error">{{ form.po_name.errors }}</div>
                {% endif %}
            </div>
            <div class="d-flex">
                <label for="id_address" class="w-100">Address:</label>
                {{ form.address }}
                {% if form.address.errors %}
                    <div class="error">{{ form.address.errors }}</div>
                {% endif %}
            </div>
            <div class="d-flex">
                <label for="id_state" class="w-100">State:</label>
                {{ form.state }}
                {% if form.state.errors %}
                    <div class="error">{{ form.state.errors }}</div>
                {% endif %}
            </div>
            {% if form.non_field_errors %}
                <div class="error">{{ form.non_field_errors }}</div>
            {% endif %}
            <br>
            <button type="button" onclick="submitUpdateJobForm();" id="addPersonButton" class="ms-5">
                Update Job details</button>        
        </form>
        <button type="button" class="btn btn-danger deleteJob" data-bs-url="{% url 'deleteJob' job.job_id  %}">Delete JOB</button> 
    </div>
    </div>


    <table class="calendar-table">
        <thead>
            <tr>
                <th>Role Description</th>
                <th>Rate</th>
                <th>Rate 1.5x</th>
                <th>Rate 2x</th>
                <th>Travel</th>
                <th>Travel Pay</th>
                <th>Pay</th>
                <th>Pay 1.5x</th>
                <th>Pay 2x</th>

            </tr>
        </thead>
        <tbody>
                {% for role in job.jobrole_set.all %}
                <tr>
                    <td>{{ role.role_description }}</td>
                    <td>{{ role.rate }}</td>
                    <td>{% if role.rate_1_5x %} {{ role.rate_1_5x }} {% else %} $0.00 {% endif %}</td>
                    <td>{% if  role.rate_2x %} {{ role.rate_2x }}  {% else %} $0.00 {% endif %}</td>
                    <td>{% if role.travel %}{{ role.travel }} {% else %} $0.00 {% endif %}</td>
                    <td>{% if role.travel_pay %}{{ role.travel_pay }} {% else %} $0.00 {% endif %}</td>
                    <td>{{ role.pay }}</td>
                    <td>{% if role.pay_1_5x %}{{ role.pay_1_5x }} {% else %} $0.00 {% endif %}</td>
                    <td>{% if role.pay_2x %}{{ role.pay_2x }} {% else %} $0.00 {% endif %}</td>
                    
                    <td style="border: none; padding-left: 1.3rem;"><button type="button" class="btn btn-danger deleteJobRole" data-bs-url="{% url 'deleteJobRole' role.job_role_id  %}">Delete</button></td>
                </tr>
                {% endfor %}                                  
        </tbody>  
    </table>

    <div class="container">
        <label style="color: #d9534f; font-size: 20px; margin: 2rem;">
            <input type="checkbox" id="toggleFormCheckbox"> Create new Job Role
        </label>

        <div class="card" id="jobRoleFormCard" style="display: none; background: lightgray;">
            <div class="card-body">
                <h5 class="card-title detail-name mb-5" style="font-family: 'Ubuntu', sans-serif;">Add New Job Role</h5>
                <form id="jobRoleForm" method="POST" action="{% url 'createJobRole' job.job_id %}">
                    {% csrf_token %}
                    {{ formRole.as_p }}
                    <div class="d-flex" style="margin: 3rem auto 1.5rem auto;">
                        <button type="submit" class="btn btn-secondary detail-add-jobRole-btn ms-auto">Submit</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>


<script>


//Delete the job, and all jobs roles connected to this job. 
$(document).ready(function() {

        $('#jobRoleForm').on('submit', function(event) {
            
            if (!this.checkValidity()) {
                
                return;
            }

            event.preventDefault(); 

            if (confirm('Are you sure you want to create this job role?')) {
                var formData = $(this).serialize(); 

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    dataType: 'json',
                    success: function(response) {
                        if (response.message) {
                            alert(response.message); 
                            $('#jobRoleFormCard').hide(); 
                            $('#toggleFormCheckbox').prop('checked', false);
                            $('#viewBooking').modal('hide');
                        }
                    },
                    error: function(xhr, status, error) {
                        var errors = xhr.responseJSON.errors;
                        var errorMessage = 'Error creating job role:\n';
                        $.each(errors, function(field, messages) {
                            errorMessage += field + ': ' + messages.join(', ') + '\n';
                        });
                        alert(errorMessage); 
                    }
                });
            } else {
                
                alert('Job role creation canceled.');
            }
        });

    $(document).on('click', '.deleteJob', function(e) {
          e.preventDefault(); 
          var url = $(this).data('bs-url'); 
          if (confirm("Are you sure you want to delete this Job and related job roles and all related job assignments to this job?")){

              $.ajax({
                  url: url,
                  type: 'POST',
                  headers: {
                            "X-CSRFToken": $("meta[name='csrf-token']").attr("content")
                    },
                  success: function(response) {
                    $('#viewBooking').modal('hide');
                    alert("Job and all related job roles and assingments deleted.");
                    updateroster(); 
                      
                  },
                  error: function(xhr, status, error) {
                      console.error("Error:", xhr.responseText)
                      $('#viewBooking').modal('hide');
                  }
              });
          }
    });

    //Delete a specific job role. 

    $(document).on('click', '.deleteJobRole', function(e) {
          e.preventDefault(); 
          var url = $(this).data('bs-url'); 
          if (confirm("Are you sure you want to delete this Job Role?")){

              $.ajax({
                  url: url,
                  type: 'POST',
                  headers: {
                            "X-CSRFToken": $("meta[name='csrf-token']").attr("content")
                    },
                  success: function(response) {
                    $('#viewBooking').modal('hide');
                    alert("Job Role deleted");
                    updateroster(); 
                      
                  },
                  error: function(xhr, status, error) {
                      console.error("Error:", xhr.responseText)
                      $('#viewBooking').modal('hide');
                  }
              });
          }
    });

  


    
});

$(document).ready(function() {
            $('#editJobDetailsCheckbox').change(function() {
                if(this.checked) {
                    $('#editJobDetailsForm').show();
                } else {
                    $('#editJobDetailsForm').hide();
                }
            });
        });

function submitUpdateJobForm() {
    var form = $('#updateJobForm');
    var formData = new FormData(form[0]);

    // Check form validity using native HTML5 validation
    if (!form[0].checkValidity()) {
        alert('Please fill out the required fields correctly.');
        return;
    }

    if (confirm("Are you sure you want to edit this job details?")) {

        $.ajax({
            url: "{% url 'edit-job' job.job_id %}",
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            headers: {
              "X-CSRFToken": $("meta[name='csrf-token']").attr("content")
            },
            success: function(response) {
                if (response.success) {
                    alert(response.message);
                    $('#editJobDetailsForm').hide();
                    $('#viewBooking').modal('hide');
                    updateroster();
                } else {
                    alert('Error: ' + response.message);
                    if (response.form_errors) {
                        updateFormErrors(response.form_errors);
                    }
                }
            },
            error: function(xhr, status, error) {
                alert('An error occurred while processing your request. Please try again.');
            }
        });
    }
}   

 $('#toggleFormCheckbox').on('change', function() {
            if (this.checked) {
                $('#jobRoleFormCard').show();
            } else {
                $('#jobRoleFormCard').hide();
            }
        });

function updateFormErrors(errors) {
    errors = JSON.parse(errors);
    Object.keys(errors).forEach(function(field) {
        var fieldErrors = errors[field];
        var errorHtml = fieldErrors.map(error => `<div class="error">${error.message}</div>`).join('');
        $(`#${field}`).siblings('.error').html(errorHtml);
    });
}
</script>