
<h2 style="font-family: 'Ubuntu', sans-serif; font-size: 27px; background-color: blanchedalmond; display: inline-block; padding: 0.3rem 2rem;">
   FOR <span style="color: #e06640;">{{ state }} </span>
   FROM:<span style="color: #e06640;">{{ start_week|date:"d/m" }}</span> TO:<span style="color: #e06640;">{{ end_week|date:"d/m" }}</span>
</h2>
<table class="calendar-table">
    <thead>
      <tr>
        <th scope="col">PO Name</th>
        {% for date in week_dates %}
        <th scope="col">
            <span style="font-size: 18px; color: #f08a5b;">{{ date|date:"d/m" }}</span> <br> 
            <span style="font-size: 15px;">{{ date|date:"D" }}</span>
        </th>
        {% endfor %} 
      </tr>
    </thead>
    <tbody>
    {% for job, assignments in job_assignments.items %}
    <tr>
    <td><a class="job-name" href="#" data-bs-toggle="modal" data-bs-target="#viewBooking" data-bs-url="{% url 'loadRoles' job.job_id %}">{{ job.po_name }}</a></td>
    {% for date in week_dates %}
    <td data-bs-jobName = "{{ job.po_name }}" data-bs-jobid="{{job.job_id}}" data-bs-date="{{date|date:'Y-m-d'}}" data-bs-toggle="modal" data-bs-target="#viewBooking">
        {% for assignment in assignments %}
            {% if assignment.date == date %}
               <a class="person-name" href="#" data-bs-toggle="modal" data-bs-target="#viewBooking"  data-bs-url="{% url 'booking' assignment.job_assignment_id %}">
                 {{ assignment.employee.name }}
              </a><br>
            {% endif %}   
        {% endfor %}
        <a class="add-booking-link" href="#" data-bs-toggle="modal" data-bs-target="#viewBooking" data-bs-url="{% url 'addBooking' job.job_id date|date:'Y-m-d' %}">
          &#x2795;
        </a>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}

</table>

